name: Build and Serve for Pages
permissions:
  contents: read
  pages: write

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: temurin
    
    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: lts/krypton
        cache: 'npm'

    - run: npm install
    - run: npm run build

    - name: Upload build artifacts
      uses: actions/upload-artifact@v6
      with:
        name: dist
        path: dist/